

div.site_group {
  margin:20px; padding:10px; border: 1px soid silver; background-color: #FAFAFA;
  padding-top:1px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #ccc;
}
 
div.more_info {
  margin:10px; margin-left:20px; margin-bottom:20px; padding:10px;
  border: 1px solid silver;  background: #EEE;
  display:none;
  border-radius: 5px;
}
